<dt class="record-info-title">
  <b><h3>This Package contains:</h3></b>
</dt>
<dd>
  <div class="list-unstyled" style="list-style: none;">
    {%- for related in record.related_identifiers %}
      {% if related.resource_type.type in [ "publication"] %}
    <li>
        <i class="file alternate icon"></i>
    <a href="{{related.identifier}}" target="_blank"> {{related.identifier}} </a>
    </li>
      {%- elif related.resource_type.type in [ "software"] %}
      <li>
        <i class="code icon"></i>
    <a href="{{related.identifier}}" target="_blank"> {{related.identifier}} </a>
    </li>
      {%- elif related.resource_type.type in [ "dataset"] %}
      <li>
        <i class="database icon"></i>
    <a href="{related.identifier}}" target="_blank"> {{related.identifier}} </a>
    </li>
      {%- else %}
      <li>
        <i class="cog icon"></i>
    <a href="{{related.identifier}}" target="_blank"> {{related.identifier}} </a>
    </li>
      {%- endif %}
    {%- endfor %}
  </div>
</dd>
<br>
<hr class="thin-line"></hr>