{%- extends "invenio_rdm_records/record_landing_page.html" %}

{%- block head_title %}
    <title> GEO Knowledge Hub </title>
{%- endblock head_title %}

 {%- block head_links %}
    <link rel="shortcut icon" href="static/images/favicon.ico"/>
{%- endblock head_links %}

{%- block page_body %}
<div class="ui container">
  <div class="ui padded relaxed grid">
    <div class="two column row">
      <div class="ten wide column">
        {%- block record_body %}
        <div class="ui grid">
          <div class="two column row">
            <div class="left floated left aligned column">
              <span class="ui label teal"
                title="Publication date">{{ record.publication_date|to_date|format_date(format='long') }}</span>
              <span class="label record-version"> | Version {{ record.version }}</span>
            </div>
            <div class="right floated right aligned column">
              <span class="ui label grey">{{ record.resource_type | vocabulary_title('resource_type') }}</span>
              {% if record.access_right in ["embargoed", "closed"] %}
              <span class="ui label red">
              {% elif record.access_right == "restricted" %}
              <span class="ui label yellow">
              {% else %}
              <span class="ui label green">
              {% endif %}
                {{ record | vocabulary_title('access_right') }}
              </span>
            </div>
          </div>
        </div>
        <h1>{{ record.titles[0].title }}</h1>
        <p>{%- include "invenio_rdm_records/details/creators.html" %}</p>
        {%- if record.contributors %}
        <p>{%- include "invenio_rdm_records/details/contributors.html" %}</p>
        {%- endif %}
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              {%- include "/details/my_contact.html" %}
            </div>
            <div class="right floated column">
              {%- include "/details/my_doi.html" %}
            </div>
          </div>
        </div>
        <br>
         <!--{%- include "/details/my_citation.html" %}-->
        {%- include "/details/my_keywords.html" %}
        {%- include "/details/my_description.html" %}
        {% if record.resource_type.type in [ "package" ] %}
        {%- include "/details/package_components.html" %}
        {%-else %}
        {%- include "/details/resource_package.html" %}
        {%- endif %}
        {%- include "/details/my_licenses.html" %}

        {# files #}
        {%- if record.files and record|can_list_files %}
        {%- set files = record.files %}
        {{ preview_file_box(files|select_preview_file, pid) }}
        {{ file_list_box(files.dumps(), pid) }}
        {%- else %}
        <br>
        <p style="text-align: center;">No associated files.</p>
        {% endif %}

        {# More details #}

        {%- endblock record_body %}
      </div>
      <div class="six wide column">


{% block sidebar %}
<dt class="record-info-title">
  <b><h3> Metrics: </h3></b>
</dt>
<hr class="thin-line">
</hr>
<dd>
  <!-- Stats -->
  <div class="row stats-box">
    <div>
      <!-- Banner -->
      <div class="ui grid three column">
        <div class="column">
          <div><span class="stats-data">1,175</span></div>
          <i class="fa fa-eye " data-toggle="tooltip" tooltip="" data-placement="top" title=""
            data-original-title="Total views."></i> views
        </div>
        <div class="column">
          <div><span class="stats-data">52</span></div>
          <i class="fa fa-download " data-toggle="tooltip" tooltip="" data-placement="top" title=""
            data-original-title="Total downloads."></i> downloads
        </div>
        <div class="column">
          <div><span class="stats-data">8</span></div>
          <i class="fa fa-pencil " data-toggle="tooltip" tooltip="" data-placement="top" title=""
            data-original-title="Total citation."></i> citations
        </div>
      </div>

      <!-- Collapsed details -->
      <div class="ui accordion">
        <div class="title centered">
          <a style="cursor: pointer;" class="dropdown">
            See more details...
          </a>
        </div>
        <div class="content">
          <div class="transition hidden">
            <table class="table stats-table">
              <!-- Skip table header if no versions -->
              <tbody>
                <tr>
                  <th></th>
                  <th>All versions</th>
                  <th>This version</th>
                </tr>
                <tr>
                  <td>Views <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip=""
                      data-placement="top" title="" data-original-title="Total views."></i></td>
                  <td>1,175</td>
                  <td>265</td>
                </tr>
                <tr>
                  <td>Downloads <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip=""
                      data-placement="top" title="" data-original-title="Total downloads."></i></td>
                  <td>52</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Data volume <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip=""
                      data-placement="top" title="" data-original-title="Total download volume."></i></td>
                  <td>191.3 MB</td>
                  <td>21.8 MB</td>
                </tr>
                <tr>
                  <td>Unique views <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip=""
                      data-placement="top" title=""
                      data-original-title="Views in one hour user-sessions are counted only once."></i></td>
                  <td>880</td>
                  <td>192</td>
                </tr>
                <tr>
                  <td>Unique downloads <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip=""
                      data-placement="top" title=""
                      data-original-title="Downloads in one hour user-sessions are counted only once."></i></td>
                  <td>46</td>
                  <td>8</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <a href="/coming-soon">More info on how stats are collected.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Altmetric -->
  <div class="altmetric-embed altmetric-hidden" data-badge-type="donut" data-badge-details="left"
    data-hide-no-mentions="true" data-doi="{{ record.identifiers|doi_identifier }}"
    data-uuid="2a8761bb-6e07-cad2-ff33-e6d1f68afaed"></div>
</dd>

<dt class="record-info-title">
  <b><h3>Versions:</h3></b>
</dt>
<hr class="thin-line">
</hr>
<dd>
  <table class="table">
    <tbody>
      <tr class="info">
        <td>
          <a href="{{ url_for('invenio_records_ui.recid', pid_value=record.pid) }}">{{ record.version }}</a>
          <small class="text-muted">{{ record.identifiers|doi_identifier }}</small>
        </td>
        <td align="right"><small
            class="text-muted">{{ record.publication_date|to_date|format_date(format='medium')}}</small></td>
      </tr>
    </tbody>
  </table>
  <small>
    <strong>Cite all versions?</strong> You can cite all versions by using the DOI <a
      href="https://doi.org/{{ record.identifiers|doi_identifier }}">{{ record.identifiers|doi_identifier }}</a>. This
    DOI represents all versions, and will always resolve to the latest one. <a href="/coming-soon">Read more</a>.
  </small>
</dd>

<dt class="record-info-title">
  <b><h3>Communities:</h3></b>
</dt>
<hr class="thin-line">
</hr>
        <br>
<dd>
<div id="communities-management"
  data-record='{{ record | tojson }}'
  data-communities='{{ record_communities(record).as_dict() | tojson }}'></div>
</dd>
        {% if record.resource_type.type not in [ "package" ] %}
<dt class="record-info-title">
  <b><h3>Related Resources:</h3></b>
</dt>
<hr class="thin-line">
</hr>
        <br>
<dd>
  <div class="list-unstyled" style="list-style: none;">
    {%- for related in record.related_identifiers %}
    <li>
    {{ related.relation_type }}:  <a href="{{related.identifier}}" target="_blank"> {{related.identifier}} </a>
      ({{ related.resource_type | vocabulary_title('resource_type') }})
    </li>
    <br>
        {%- endfor %}
  </div>
</dd>
        {%- endif %}

<dt class="record-info-title">
  <b><h3>Export:</h3></b>
</dt>
<hr class="thin-line">
</hr>
<dd>
  <ul class="list-inline">
    <li><a href="/coming-soon">BibTeX</a></li>
    <li><a href="/coming-soon">CSL</a></li>
    <li><a href="/coming-soon">DataCite</a></li>
    <li><a href="/coming-soon">Dublin Core</a></li>
    <li><a href="/coming-soon">DCAT</a></li>
    <li><a href="/coming-soon">JSON</a></li>
    <li><a href="/coming-soon">JSON-LD</a></li>
    <li><a href="/coming-soon">GeoJSON</a></li>
    <li><a href="/coming-soon">MARCXML</a></li>
    <li><a href="/coming-soon"><i class="fa fa-external-link"></i> Mendeley</a></li>
  </ul>
</dd>
{% endblock sidebar %}

{%- endblock page_body %}
